# History files
.Rhistory
.Rapp.history
# Session Data files
.RData
.RDataTmp
# User-specific files
.Ruserdata
# Example code in package build process
*-Ex.R
# Output files from R CMD build
/*.tar.gz
# Output files from R CMD check
/*.Rcheck/
# RStudio files
.Rproj.user/
# produced vignettes
vignettes/*.html
vignettes/*.pdf
# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth
# knitr and R markdown default cache directories
*_cache/
/cache/
# Temporary files created by R markdown
*.utf8.md
*.knit.md
# R Environment Variables
.Renviron
# pkgdown site
docs/
# translation temp files
po/*~
# RStudio Connect folder
rsconnect/
birdclouds.Rproj
# big data
data/L0/activity_measures
# dumb file
questionable_all.csv

data/L0/bird_activity/activity_measures_Africa_2024_04_conf_0.75_det_100.csv
data/L0/bird_activity/activity_measures_Africa_2024_05_conf_0.75_det_100.csv
data/L0/bird_activity/activity_measures_Africa_2024_06_conf_0.75_det_100.csv
data/L0/bird_activity/activity_measures_Africa_2024_07_conf_0.75_det_100.csv
data/L0/bird_activity/activity_measures_Africa_2024_08_conf_0.75_det_100.csv
data/L0/bird_activity/activity_measures_Africa_2024_09_conf_0.75_det_100.csv
data/L0/bird_activity/activity_measures_Africa_2024_10_conf_0.75_det_100.csv
data/L0/bird_activity/activity_measures_Africa_2024_11_conf_0.75_det_100.csv
data/L0/bird_activity/activity_measures_Africa_2024_12_conf_0.75_det_100.csv
data/L0/bird_activity/activity_measures_Africa_2025_01_conf_0.75_det_100.csv
data/L0/bird_activity/activity_measures_Africa_2025_02_conf_0.75_det_100.csv
data/L0/bird_activity/activity_measures_Africa_2025_03_conf_0.75_det_100.csv
data/L0/bird_activity/activity_measures_Africa_2025_04_conf_0.75_det_100.csv
data/L0/bird_activity/activity_measures_Asia_2024_04_conf_0.75_det_100.csv
data/L0/bird_activity/activity_measures_Asia_2024_05_conf_0.75_det_100.csv
data/L0/bird_activity/activity_measures_Asia_2024_06_conf_0.75_det_100.csv
data/L0/bird_activity/activity_measures_Asia_2024_07_conf_0.75_det_100.csv
data/L0/bird_activity/activity_measures_Asia_2024_08_conf_0.75_det_100.csv
data/L0/bird_activity/activity_measures_Asia_2024_09_conf_0.75_det_100.csv
data/L0/bird_activity/activity_measures_Asia_2024_10_conf_0.75_det_100.csv
data/L0/bird_activity/activity_measures_Asia_2024_11_conf_0.75_det_100.csv
data/L0/bird_activity/activity_measures_Asia_2024_12_conf_0.75_det_100.csv
data/L0/bird_activity/activity_measures_Asia_2025_01_conf_0.75_det_100.csv
data/L0/bird_activity/activity_measures_Asia_2025_02_conf_0.75_det_100.csv
data/L0/bird_activity/activity_measures_Asia_2025_03_conf_0.75_det_100.csv
data/L0/bird_activity/activity_measures_Asia_2025_04_conf_0.75_det_100.csv
data/L0/bird_activity/activity_measures_Europe_2024_04_conf_0.75_det_100.csv
data/L0/bird_activity/activity_measures_Europe_2024_05_conf_0.75_det_100.csv
data/L0/bird_activity/activity_measures_Europe_2024_06_conf_0.75_det_100.csv
data/L0/bird_activity/activity_measures_Europe_2024_07_conf_0.75_det_100.csv
data/L0/bird_activity/activity_measures_Europe_2024_08_conf_0.75_det_100.csv
data/L0/bird_activity/activity_measures_Europe_2024_09_conf_0.75_det_100.csv
data/L0/bird_activity/activity_measures_Europe_2024_10_conf_0.75_det_100.csv
data/L0/bird_activity/activity_measures_Europe_2024_11_conf_0.75_det_100.csv
data/L0/bird_activity/activity_measures_Europe_2024_12_conf_0.75_det_100.csv
data/L0/bird_activity/activity_measures_Europe_2025_01_conf_0.75_det_100.csv
data/L0/bird_activity/activity_measures_Europe_2025_02_conf_0.75_det_100.csv
data/L0/bird_activity/activity_measures_Europe_2025_03_conf_0.75_det_100.csv
data/L0/bird_activity/activity_measures_Europe_2025_04_conf_0.75_det_100.csv
data/L0/bird_activity/activity_measures_North America_2024_04_conf_0.75_det_100.csv
data/L0/bird_activity/activity_measures_North America_2024_05_conf_0.75_det_100.csv
data/L0/bird_activity/activity_measures_North America_2024_06_conf_0.75_det_100.csv
data/L0/bird_activity/activity_measures_North America_2024_07_conf_0.75_det_100.csv
data/L0/bird_activity/activity_measures_North America_2024_08_conf_0.75_det_100.csv
data/L0/bird_activity/activity_measures_North America_2024_09_conf_0.75_det_100.csv
data/L0/bird_activity/activity_measures_North America_2024_10_conf_0.75_det_100.csv
data/L0/bird_activity/activity_measures_North America_2024_11_conf_0.75_det_100.csv
data/L0/bird_activity/activity_measures_North America_2024_12_conf_0.75_det_100.csv
data/L0/bird_activity/activity_measures_North America_2025_01_conf_0.75_det_100.csv
data/L0/bird_activity/activity_measures_North America_2025_02_conf_0.75_det_100.csv
data/L0/bird_activity/activity_measures_North America_2025_03_conf_0.75_det_100.csv
data/L0/bird_activity/activity_measures_North America_2025_04_conf_0.75_det_100.csv
data/L0/bird_activity/activity_measures_Oceania_2024_04_conf_0.75_det_100.csv
data/L0/bird_activity/activity_measures_Oceania_2024_05_conf_0.75_det_100.csv
data/L0/bird_activity/activity_measures_Oceania_2024_06_conf_0.75_det_100.csv
data/L0/bird_activity/activity_measures_Oceania_2024_07_conf_0.75_det_100.csv
data/L0/bird_activity/activity_measures_Oceania_2024_08_conf_0.75_det_100.csv
data/L0/bird_activity/activity_measures_Oceania_2024_09_conf_0.75_det_100.csv
data/L0/bird_activity/activity_measures_Oceania_2024_10_conf_0.75_det_100.csv
data/L0/bird_activity/activity_measures_Oceania_2024_11_conf_0.75_det_100.csv
data/L0/bird_activity/activity_measures_Oceania_2024_12_conf_0.75_det_100.csv
data/L0/bird_activity/activity_measures_Oceania_2025_01_conf_0.75_det_100.csv
data/L0/bird_activity/activity_measures_Oceania_2025_02_conf_0.75_det_100.csv
data/L0/bird_activity/activity_measures_Oceania_2025_03_conf_0.75_det_100.csv
data/L0/bird_activity/activity_measures_Oceania_2025_04_conf_0.75_det_100.csv
data/L0/bird_activity/activity_measures_South America_2024_04_conf_0.75_det_100.csv
data/L0/bird_activity/activity_measures_South America_2024_05_conf_0.75_det_100.csv
data/L0/bird_activity/activity_measures_South America_2024_06_conf_0.75_det_100.csv
data/L0/bird_activity/activity_measures_South America_2024_07_conf_0.75_det_100.csv
data/L0/bird_activity/activity_measures_South America_2024_08_conf_0.75_det_100.csv
data/L0/bird_activity/activity_measures_South America_2024_09_conf_0.75_det_100.csv
data/L0/bird_activity/activity_measures_South America_2024_10_conf_0.75_det_100.csv
data/L0/bird_activity/activity_measures_South America_2024_11_conf_0.75_det_100.csv
data/L0/bird_activity/activity_measures_South America_2024_12_conf_0.75_det_100.csv
data/L0/bird_activity/activity_measures_South America_2025_01_conf_0.75_det_100.csv
data/L0/bird_activity/activity_measures_South America_2025_02_conf_0.75_det_100.csv
data/L0/bird_activity/activity_measures_South America_2025_03_conf_0.75_det_100.csv
data/L0/bird_activity/activity_measures_South America_2025_04_conf_0.75_det_100.csv
data/302_evaluate_stations/302a_diurn_on_data.rds
data/302_evaluate_stations/302b_diurn_ev_data.rds
data/303_grid_cells/303a_diurn_on_final_05.rds
data/303_grid_cells/303b_diurn_ev_final_05.rds
data/304_final_data/304_diurn_on_final_05_no_filter.rds
data/304_final_data/304a_diurn_on_final_05.rds
data/304_final_data/304b_diurn_ev_final_05.rds
data/305_models/305_mod_ev_alan.rds
data/305_models/305_mod_on_alan.rds
data/305_models/305a_mod_on_05.rds
data/305_models/305b_mod_ev_05.rds
data/305_models/model_summary_20det.txt
data/305_models/model_summary_100det.txt
data/L2/activity_measures_diurnal.RData
data/L2/final_diurnal_ev_ces.RData
data/L2/final_diurnal_first_onset.RData
data/L2/stations_with_VIIRS_2026_03_06.RData
data/L2/summarized_weather_data_diurnal.RData
data/301_elton_traits/301a_diurn_on_data.rds
data/301_elton_traits/301b_diurn_ev_data.rds
data/L3/301_elton_traits/301a_diurn_on_data.rds
data/L3/301_elton_traits/301b_diurn_ev_data.rds
data/L3/302_evaluate_stations/302a_diurn_on_data.rds
data/L3/302_evaluate_stations/302b_diurn_ev_data.rds
data/L3/303_grid_cells/303a_diurn_on_final_05.rds
data/L3/303_grid_cells/303b_diurn_ev_final_05.rds
data/L3/303_grid_cells/303d_diurn_on_final_50.rds
data/L3/303_grid_cells/303e_diurn_ev_final_50.rds
data/L3/304_final_data/304_diurn_on_final_05_no_filter.rds
data/L3/304_final_data/304_diurn_on_final_50_no_filter.rds
data/L3/304_final_data/304a_diurn_on_final_05.rds
data/L3/304_final_data/304b_diurn_ev_final_05.rds
data/L3/304_final_data/304d_diurn_on_final_50.rds
data/L3/304_final_data/304e_diurn_ev_final_50.rds
data/L3/305_models_no_precip/305_mod_ev_alan.rds
data/L3/305_models_no_precip/305_mod_on_alan.rds
data/L3/305_models_no_precip/305a_mod_on_05.rds
data/L3/305_models_no_precip/305b_mod_ev_05.rds
data/L3/307_fig4/307a_pred_diurn_on.rds
data/L3/307_fig4/307b_pred_diurn_ev.rds
data/L3/307_fig4/307c_pred_noc.rds
data/L3/302_evaluate_stations/302c_noc_data.rds
data/L3/303_grid_cells/303c_noc_final_05.rds
data/L3/303_grid_cells/303f_noc_final_50.rds
data/L3/304_final_data/304c_noc_final_05.rds
data/L3/304_final_data/304f_noc_final_50.rds
data/L3/305_models/305_mod_ev_alan.rds
data/L3/305_models/305_mod_on_05_no_filter.rds
data/L3/305_models/305_mod_on_50_no_filter.rds
data/L3/305_models/305_mod_on_alan.rds
data/L3/305_models/305a_mod_on_05.rds
data/L3/305_models/305b_mod_ev_05.rds
data/L3/305_models/305c_mod_on_50.rds
data/L3/305_models/305d_mod_ev_50.rds
data/L3/305_models/305i_mod_noc_05.rds
data/L3/305_models/305j_mod_noc_50.rds
data/L3/301_elton_traits/301c_noc_data.rds
data/L3/305_models_no_precip/model_summary_20det.txt
data/L3/305_models_no_precip/model_summary_100det.txt
data/L3/306_fig3/306a_pred_on.rds
data/L3/306_fig3/306b_pred_ev.rds
data/L3/306_fig3/306c_pred_noc.rds
data/L2/final_nocturnal.RData
